<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="au.id.weston.scott.Watts" android:versionCode="19" android:versionName="1.2.5">
	<application android:label="@string/app_name"
		android:icon="@drawable/watts">
		<activity android:name=".Watts" android:label="@string/app_name"
			android:screenOrientation="sensor" android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".WattsServiceMinder">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<service android:name=".WattsService"></service>
	</application>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
</manifest>
